{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/profile.css' %}">
{% endblock %}
{% block title %} - Profile{% endblock %}
{% block content %}
    <div class="container">
        <div class="hero">
            <div class="fields">
                <div class="field">
                    <div class="field-key">username</div>
                    <div class="field-value">{{ user.username }}</div>
                </div>
                <div class="field">
                    <div class="field-key">name</div>
                    <div class="field-value">{{ user.first_name }}</div>
                </div>
                <div class="field">
                    <div class="field-key">Surname</div>
                    <div class="field-value">{{ user.last_name }}</div>
                </div>
                <div class="field">
                    <div class="field-key">email</div>
                    <div class="field-value">{{ user.email }}</div>
                </div>
            </div>
        </div>
    <div class="info">
        <div class="info_cards">
            <div class="info_cards_card">
                <div class="info_cards_card-title">Алгоритмы фильтрации объёмного рассеяния</div>
                <div class="info_cards_card_params">
                    <div class="info_cards_card_params-param">
                        Param1: 1
                    </div>
                    <div class="info_cards_card_params-param">
                        Param2: 2
                    </div>
                    <div class="info_cards_card_params-param">
                        Param3: 3
                    </div>
                    <div class="info_cards_card_params-param">
                        Param4: 4
                    </div>
                </div>
            </div>
            <div class="info_cards_card">
                <div class="info_cards_card-title">Алгоритмы фильтрации объёмного рассеяния</div>
                <div class="info_cards_card_params">
                    <div class="info_cards_card_params-param">
                        Param1: 1
                    </div>
                    <div class="info_cards_card_params-param">
                        Param2: 2
                    </div>
                    <div class="info_cards_card_params-param">
                        Param3: 3
                    </div>
                    <div class="info_cards_card_params-param">
                        Param4: 4
                    </div>
                </div>
            </div>
            <div class="info_cards_card">
                <div class="info_cards_card-title">Алгоритмы фильтрации объёмного рассеяния</div>
                <div class="info_cards_card_params">
                    <div class="info_cards_card_params-param">
                        Param1: 1
                    </div>
                    <div class="info_cards_card_params-param">
                        Param2: 2
                    </div>
                    <div class="info_cards_card_params-param">
                        Param3: 3
                    </div>
                    <div class="info_cards_card_params-param">
                        Param4: 4
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}