{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/profile.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let images = Array.from(document.querySelectorAll('.info_cards_card-img'))
            document.querySelectorAll('.info_cards_card').forEach((item, i) => {
                item.addEventListener('click', (event) => {
                    let current_style = images[i].style.display
                    if (current_style === '') {
                        item.style.display = 'flex'
                        images[i].style.display = 'block'
                    } else {
                        item.style.display = 'block'
                        images[i].style.display = ''
                    }
                })
            })
        })
    </script>
{% endblock %}
{% block title %} - Profile{% endblock %}
{% block content %}
    <div class="container">
        <div class="hero">
            <div class="fields">
                <div class="field">
                    <div class="field-key">username</div>
                    <div class="field-value">{{ user.username }}</div>
                </div>
                <div class="field">
                    <div class="field-key">name</div>
                    <div class="field-value">{{ user.first_name }}</div>
                </div>
                <div class="field">
                    <div class="field-key">Surname</div>
                    <div class="field-value">{{ user.last_name }}</div>
                </div>
                <div class="field">
                    <div class="field-key">email</div>
                    <div class="field-value">{{ user.email }}</div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info_cards">
                {% for algorithm in algorithms %}
                    <div class="info_cards_card">
                        <div class="main">
                            <div class="info_cards_card-title">
                                {{ algorithm.name }}
                                {% if algorithm.status == 'In process' %}
                                    <h5>{{ algorithm.status }}</h5>
                                {% endif %}
                            </div>
                            <div class="info_cards_card_params">
                                {% for name, value in algorithm.parameters.items %}
                                    <div class="info_cards_card_params-param">
                                        {{ name }}: {{ value }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if algorithm.status == 'Complete' %}
                            <img class="info_cards_card-img" src="{{ algorithm.image.url }}" alt="">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}