{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/register.css' %}">
    <script src="{% static 'js/account/register.js' %}"></script>
{% endblock %}

{% block title %} - Sign up{% endblock %}
{% block content %}
    <div class="rg">
        <div class="rg-title">Регистрация</div>
        <form action="." method="post" class="rg_form">
            {{ form.as_p }}
            {% csrf_token %}
        </form>
    </div>
{% endblock %}