@import 'interface'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  @include regular
  color: $dark
body
  max-width: 1140px
  margin: auto
  background-color: $white
header
  display: flex
  justify-content: space-between
  align-items: center
  & .logo
    & img
      width: 255px
  & .sign
    display: flex
    justify-content: flex-start
    align-items: center
    &-img
    &-text