{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}">
    <title>HydroCloud{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body>
<header>
    <div class="logo" onclick="window.location='{% url 'landing' %}'">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <div class="sign" onclick="window.location='{% url 'account:user_login' %}'">
        <div class="sign-img">
            <img src="{% static 'img/sign_in.png' %}" alt="SignIn Icon">
        </div>
        <div class="sign-text">
            Войти
        </div>
    </div>
</header>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>