{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
    <div class="landing">
        <div class="hero">
            <div class="hero-text">
                Сервис для построения гидроакустических изображений
            </div>
            <div class="hero_btns">
                {% if user.is_authenticated %}
                    <button class="hero_btns-btn btn" onclick="window.location='{% url 'account:profile' %}'">Открыть профиль</button>
                {% else %}
                    <button class="hero_btns-btn btn" onclick="window.location='{% url 'account:register' %}'">Зарегистрироваться</button>
                {% endif %}
                <button class="hero_btns-btn btn" onclick="window.location='{% url 'account:all_results' %}'">Просмотреть результаты</button>
            </div>
        </div>
        <div class="algs">
            <div class="algs-title title">Алгоритмы</div>
            <div class="algs_cards">
                <div class="algs_cards_card">
                    <div class="algs_cards_card-title">Медианная фильтрация</div>
                    <div class="algs_cards_card-description">
                        Медианная фильтрация — эффективная процедура обработки сигналов, подверженных воздействию импульсных помех.
                        Этот метод направлен на фильтрацию высоко- и низкоамплитудных шумов
                    </div>
                </div>
                <div class="algs_cards_card">
                    <div class="algs_cards_card-title">Алгоритм фильтрации объёмного рассеяния</div>
                    <div class="algs_cards_card-description">
                        Объемное рассеяние звука в толще вод океана происходит на флуктуациях показателя преломления звуковых волн
                        (гидрологические неоднородности) и на дискретных инородных включениях, которыми в первую очередь являются живые
                        организмы. Для количественного описания объемного рассеяния в обратном направлении служит коэффициент,
                        характеризующий рассеяние единицы объема среды и имеющий, в отличие от коэффициента рассеяния на неровной границе,
                        размерность 1/м
                    </div>
                </div>
                <div class="algs_cards_card">
                    <div class="algs_cards_card-title">Двойная фильтрация</div>
                    <div class="algs_cards_card-description">
                        Двойная фильтрация справляется с удалением низкоамплитудных и импульсных шумов, наиболее выгодна для сильно
                        зашумленных изображений
                    </div>
                </div>
                <div class="algs_cards_card">
                    <div class="algs_cards_card-title">Логарифмическая фильтрация</div>
                    <div class="algs_cards_card-description">
                        Логарифмическая фильтрация решает проблему появления в изображении белого шума
                    </div>
                </div>
            </div>
        </div>
        <div class="command">
            <div class="command-title title">Команда</div>
            <div class="command_cards">
                <div class="command_cards_card">
                    <div class="command_cards_card-img">
                        <img src="{% static 'img/logo.png' %}" alt="Profile image">
                    </div>
                    <div class="command_cards_card_body">
                        <div class="command_cards_card_body-title">Сущенко Андрей Андреевич</div>
                        <div class="command_cards_card_body-info">
                            Руководитель образовательной программы
                        </div>
                    </div>
                </div>
                <div class="command_cards_card">
                    <div class="command_cards_card-img">
                        <img src="{% static 'img/logo.png' %}" alt="Profile image">
                    </div>
                    <div class="command_cards_card_body">
                        <div class="command_cards_card_body-title">Ярушина Мария Григорьевна</div>
                        <div class="command_cards_card_body-info">
                            4 курс направления: “Прикладная Математика и Информатика”. Б9118-01.03.02систро
                        </div>
                    </div>
                </div>
                <div class="command_cards_card">
                    <div class="command_cards_card-img">
                        <img src="{% static 'img/logo.png' %}" alt="Profile image">
                    </div>
                    <div class="command_cards_card_body">
                        <div class="command_cards_card_body-title">Салушкин Дмитрий Сергеевич</div>
                        <div class="command_cards_card_body-info">
                            4 курс направления: “Прикладная Математика и Информатика”. Б9118-01.03.миопд
                        </div>
                    </div>
                </div>
                <div class="command_cards_card">
                    <div class="command_cards_card-img">
                        <img src="{% static 'img/logo.png' %}" alt="Profile image">
                    </div>
                    <div class="command_cards_card_body">
                        <div class="command_cards_card_body-title">Синькова Маргарита Евгеньевна</div>
                        <div class="command_cards_card_body-info">
                            4 курс направления: “Прикладная Математика и Информатика”. Б9118-01.03.миопд
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}